1.What are data structures, and why are they important?

Ans.Data structures are methods of storing,collecting,acessing the data of different forms like integer,float,string etc.
They're important as they play a major role in memory allocation of the data according to it's type and help in accessing data.

2.Explain the difference between mutable and immutable data types with examples.

Ans. Data types like tuples are immutable whereas lists are mutable.
Mutable data types's elements can be changed by accessing them through index whereas immutable data types's elements can't be changed once created.

3.What are the main differences between lists and tuples in Python.

Ans.Lista are mutable whereas tuples are immutable data types.
Lists have [] whereas tuples have () as their syntax representation.

4.Describe how dictionaries store data.

Ans.Dictionaries store data in form of key value pairs. The keys here serve the purpose of index as in list.

5.Why might you use a set instead of a list in Python?

Ans.Set over list can be used to save only single copy of element as sets don't store duplicaates of elements and only when elements need not to be called through index number.

6.What is a string in Python, and how is it different from a list.

Ans.String is a data type whereas list is data structure that stores heterogenous forms of data also lists are mutable and subject to various actions

7.How do tuples ensure data integrity in Python?

Ans.As tuples are immutable that is once data saved can't be changed in tuples so it helps the integrity of data being immutable.

8.What is a hash table, and how does it relate to dictionaries in Python?

Ans.A Hash table is defined as a data structure used to insert, look up, and remove key-value pairs quickly.Hash table decides the storage of data in dictionaries

9.Can lists contain different data types in Python?

Ans.-Yes, lists can accumulate diffrenet data types in python.

10.Explain why strings are immutable in Python.

Ans.-Once a string is assigned a values it can not be changed and the memory location too can not be changed. If any operation changes the string will result in new string and the old one can not be altered.

11.What advantages do dictionaries offer over lists for certain tasks?
Ans.Advantages of dictionaries over lists:
 1.Provide uniqueness unlike lists
 2.Can be accessed by 'keys' assigned to specific values.

12.Describe a scenario where using a tuple would be preferable over a list
Ans.Tuples can be used over lists when we don't wnat to change the data either intentionally or not. Tuples dont append,remove,pop,add methods like lists.

13.How do sets handle duplicate values in Python.

Ans.Sets wont creat any meomory location for the duplicates and store only one element if same are available.

14.How does the “in” keyword work differently for lists and dictionaries.

15.Can you modify the elements of a tuple? Explain why or why not

Ans.Tuples can't be changed because they were designed that way to store data without being able to change it omnce created.

16.What is a nested dictionary, and give an example of its use case.

Ans.nesting dicstioary means putting a dictionary inside another dictionary.

17.Describe the time complexity of accessing elements in a dictionary

Ans.Time complexity is regardless of the size of the dictionary, the time it takes to access a value remains constant,but if the dictionary is very large and has many collisions, the time taken to access a value may increase.

18.In what situations are lists preferred over dictionaries?

Ans.Lists are prefered over dictionaries when 'mutation' and storage of heterogenous data is the need.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans.They dont have index number like lists hence they're considered unordered hence data cant be accessed by index number but through key assigend to the value.

20.Explain the difference between a list and a dictionary in terms of data retrieval.

Ans.In list data can be accessed by using the index number assigned whereas in dictionaries data can be accessed through the key assigned to the values that are required

In [1]:
#1.Write a code to create a string with your name and print it
name="Vaishnavi padale"
print(name)

Vaishnavi padale

In [2]:
#2.Write a code to find the length of the string "Hello World"E
string="Hello World!"
len(string)

12

In [4]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"
a="python programming"
a[0:3]

'pyt'

In [5]:
#4.Write a code to convert the string "hello" to uppercase.
str="hello"
str.upper()

'HELLO'

In [7]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple
string="I like apple"
string.replace("apple","orange")

'I like apple'

In [8]:
#6.Write a code to create a list with numbers 1 to 5 and print it.
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [11]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]
list=[1,2,3,4]
list.append(10)
list

[1, 2, 3, 4, 10]

In [13]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list=[1,2,3,4,5]
list.remove(3)
list

[1, 2, 4, 5]

In [14]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list=['a', 'b', 'c', 'd']
print(list[1])

b

In [15]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50]
list=[10, 20, 30, 40, 50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [16]:
#11. Write a code to create a tuple with the elements 10, 20, 30 and print it
tuple=(10,20,30)
print(tuple)

(10, 20, 30)

In [17]:
#12.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tuple=('apple', 'banana', 'cherry')
print(tuple[0])

apple

In [18]:
#13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
tuple=(1, 2, 3, 2, 4, 2)
tuple.count(2)

3

In [19]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple=('dog', 'cat', 'rabbit')
tuple.index("cat")

1

In [20]:
#15.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
tuple=('apple', 'orange', 'banana')
if "banana" in tuple:
  print("banana is presnt in tuple")

banana is presnt in tuple

In [21]:
#16.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it
set={1, 2, 3, 4, 5}
print(set)

{1, 2, 3, 4, 5}

In [22]:
#17.Write a code to add the element 6 to the set {1, 2, 3, 4}.
set= {1, 2, 3, 4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}

In [23]:
#18.Write a code to create a tuple with the elements 10, 20, 30 and print it.
tuple=(10,20,30)
print(tuple)

(10, 20, 30)

In [24]:
#19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')
tuple=('apple', 'banana', 'cherry')
tuple[0]

'apple'

In [26]:
 #20.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
 tuple=(1, 2, 3, 2, 4, 2)
 tuple.count(2)

3

In [27]:
#21.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tuple=('dog', 'cat', 'rabbit')
tuple.index("cat")

1

In [28]:
#22.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tuple=('apple', 'orange', 'banana')
if "banana" in tuple:
  print("banana is presnet in tuple")

banana is presnet in tuple

In [32]:
#23.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it
set={1, 2, 3, 4, 5}
print(set)

{1, 2, 3, 4, 5}

In [31]:
#24.Write a code to add the element 6 to the set {1, 2, 3, 4}
set={1, 2, 3, 4}
set.add(6)
set

{1, 2, 3, 4, 6}